#####################################
##                                 ##
## THIS FILE IS MANAGED BY ANSIBLE ##
##                                 ##
#####################################

[Definition]

loglevel = "{{ fail2ban_log_level }}"

logtarget = "{{ fail2ban_log_target }}"

syslogsocket = auto

socket = /var/run/fail2ban/fail2ban.sock

pidfile = /var/run/fail2ban/fail2ban.pid

dbfile = /var/lib/fail2ban/fail2ban.sqlite3

dbpurgeage = "{{ fail2ban_db_purge }}"
