#####################################
##                                 ##
## THIS FILE IS MANAGED BY ANSIBLE ##
##                                 ##
#####################################

[DEFAULT]

ignoreip = 127.0.0.1/8

bantime  = {{ jail_bantime }}

findtime  = {{ jail_findtime }}

maxretry = {{ jail_maxretry }}

backend = auto

usedns = {{ jail_usedns }}

destemail = {{ jail_dstmail }}

sendername = Fail2Ban

banaction = iptables-multiport

mta = sendmail

protocol = tcp

chain = INPUT

action_ = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]

action_mw = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
              %(mta)s-whois[name=%(__name__)s, dest="%(destemail)s", protocol="%(protocol)s", chain="%(chain)s", sendername="%(sendername)s"]

action_mwl = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
               %(mta)s-whois-lines[name=%(__name__)s, dest="%(destemail)s", logpath=%(logpath)s, chain="%(chain)s", sendername="%(sendername)s"]

action = %(action_)s

[ssh]
enabled  = {{ jail_sshd }}
port     = ssh
filter   = sshd
logpath  = /var/log/auth.log
maxretry = 6

{{ fail2ban_custom_options }}
