#####################################
##                                 ##
## THIS FILE IS MANAGED BY ANSIBLE ##
##                                 ##
#####################################

[DEFAULT]

ignoreip = 127.0.0.1/8

bantime  = {{ jail_bantime }}

findtime  = {{ jail_findtime }}

maxretry = {{ jail_maxretry }}

backend = auto

usedns = {{ jail_usedns }}

destemail = {{ jail_dstmail }}

sendername = Fail2Ban

banaction = iptables-multiport

mta = sendmail

protocol = tcp

chain = INPUT

action_ = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]

action_mw = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
              %(mta)s-whois[name=%(__name__)s, dest="%(destemail)s", protocol="%(protocol)s", chain="%(chain)s", sendername="%(sendername)s"]

action_mwl = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
               %(mta)s-whois-lines[name=%(__name__)s, dest="%(destemail)s", logpath=%(logpath)s, chain="%(chain)s", sendername="%(sendername)s"]

action = %(action_)s

[ssh]
enabled  = {{ jail_sshd }}
port     = ssh
filter   = sshd
logpath  = /var/log/auth.log
maxretry = 6

[dropbear]
enabled  = {{ jail_dropbear }}
port     = ssh
filter   = dropbear
logpath  = /var/log/auth.log
maxretry = 6

[pam-generic]
enabled  = {{ jail_pam_generic }}
filter   = pam-generic
port     = all
banaction = iptables-allports
port     = anyport
logpath  = /var/log/auth.log
maxretry = 6

[xinetd-fail]
enabled   = {{ jail_xinetd_fail }}
filter    = xinetd-fail
port      = all
banaction = iptables-multiport-log
logpath   = /var/log/daemon.log
maxretry  = 2


[ssh-ddos]
enabled  = {{ jail_sshd_ddos }}
port     = ssh
filter   = sshd-ddos
logpath  = /var/log/auth.log
maxretry = 6

[apache]
enabled  = {{ jail_apache_auth }}
port     = http,https
filter   = apache-auth
logpath  = /var/log/apache*/*error.log
maxretry = 6

[apache-multiport]
enabled   = {{ jail_apache_badbots }}
port      = http,https
filter    = apache-auth
logpath   = /var/log/apache*/*error.log
maxretry  = 6

[apache-noscript]
enabled  = {{ jail_apache_noscript }}
port     = http,https
filter   = apache-noscript
logpath  = /var/log/apache*/*error.log
maxretry = 6

[apache-overflows]
enabled  = {{ jail_apache_overflow }}
port     = http,https
filter   = apache-overflows
logpath  = /var/log/apache*/*error.log
maxretry = 2

[php-url-fopen]
enabled = {{ jail_php_url }}
port    = http,https
filter  = php-url-fopen
logpath = /var/www/*/logs/access_log

[lighttpd-fastcgi]
enabled = {{ jail_lighttpd }}
port    = http,https
filter  = lighttpd-fastcgi
logpath = /var/log/lighttpd/error.log

[lighttpd-auth]
enabled = {{ jail_lighttpd }}
port    = http,https
filter  = suhosin
logpath = /var/log/lighttpd/error.log

[nginx-http-auth]
enabled = {{ jail_nginx }}
filter  = nginx-http-auth
port    = http,https
logpath = /var/log/nginx/error.log

[roundcube-auth]
enabled  = {{ jail_roundcube }}
filter   = roundcube-auth
port     = http,https
logpath  = /var/log/roundcube/userlogins

[sogo-auth]
enabled  = {{ jail_sogo }}
filter   = sogo-auth
port     = http, https
logpath  = /var/log/sogo/sogo.log

[vsftpd]
enabled  = {{ jail_vsftpd }}
port     = ftp,ftp-data,ftps,ftps-data
filter   = vsftpd
logpath  = /var/log/vsftpd.log
maxretry = 6

[proftpd]
enabled  = {{ jail_proftpd }}
port     = ftp,ftp-data,ftps,ftps-data
filter   = proftpd
logpath  = /var/log/proftpd/proftpd.log
maxretry = 6

[pure-ftpd]
enabled  = {{ jail_pureftpd }}
port     = ftp,ftp-data,ftps,ftps-data
filter   = pure-ftpd
logpath  = /var/log/syslog
maxretry = 6

[wuftpd]
enabled  = {{ jail_wuftpd }}
port     = ftp,ftp-data,ftps,ftps-data
filter   = wuftpd
logpath  = /var/log/syslog
maxretry = 6

[postfix]
enabled  = {{ jail_postfix }}
port     = smtp,ssmtp,submission
filter   = postfix
logpath  = /var/log/mail.log

[couriersmtp]
enabled  = {{ jail_smtp }}
port     = smtp,ssmtp,submission
filter   = couriersmtp
logpath  = /var/log/mail.log

[courierauth]
enabled  = {{ jail_smtp }}
port     = smtp,ssmtp,submission,imap2,imap3,imaps,pop3,pop3s
filter   = courierlogin
logpath  = /var/log/mail.log

[sasl]
enabled  = {{ jail_postfix }}
port     = smtp,ssmtp,submission,imap2,imap3,imaps,pop3,pop3s
filter   = postfix-sasl
logpath  = /var/log/mail.log

[dovecot]
enabled = {{ jail_dovecot }}
port    = smtp,ssmtp,submission,imap2,imap3,imaps,pop3,pop3s
filter  = dovecot
logpath = /var/log/mail.log

[mysqld-auth]
enabled  = {{ jail_mysql }}
filter   = mysqld-auth
port     = 3306
logpath  = /var/log/mysqld.log

[named-refused-tcp]
enabled  = {{ jail_named }}
port     = domain,953
protocol = tcp
filter   = named-refused
logpath  = /var/log/named/security.log

[asterisk-tcp]
enabled  = {{ jail_asterisk }}
filter   = asterisk
port     = 5060,5061
protocol = tcp
logpath  = /var/log/asterisk/messages

[asterisk-udp]
enabled  = {{ jail_asterisk }}
filter   = asterisk
port     = 5060,5061
protocol = udp
logpath  = /var/log/asterisk/messages

[recidive]
enabled  = {{ jail_recidive }}
filter   = recidive
logpath  = /var/log/fail2ban.log
action   = iptables-allports[name=recidive]
           sendmail-whois-lines[name=recidive, logpath=/var/log/fail2ban.log]
bantime  = 604800  ; 1 week
findtime = 86400   ; 1 day
maxretry = 5
