#####################################
##                                 ##
## THIS FILE IS MANAGED BY ANSIBLE ##
##                                 ##
#####################################

[INCLUDES]

before = paths-{{ jail_include_os }}.conf

[DEFAULT]

ignoreip = 127.0.0.1/8

ignorecommand =

bantime  = {{ jail_bantime }}

findtime  = {{ jail_findtime }}

maxretry = {{ jail_maxretry }}

backend = auto

usedns = {{ jail_usedns }}

logencoding = auto

enabled = false

filter = %(__name__)s

destemail = {{ jail_dstmail }}

sender = {{ jail_sendermail }}

mta = sendmail

# Default protocol
protocol = tcp

# Specify chain where jumps would need to be added in iptables-* actions
chain = INPUT

# Ports to be banned
# Usually should be overridden in a particular jail
port = 0:65535

# Format of user-agent https://tools.ietf.org/html/rfc7231#section-5.5.3
fail2ban_agent = Fail2Ban/%(fail2ban_version)s

banaction = iptables-multiport
banaction_allports = iptables-allports

action_ = %(banaction)s[name=%(__name__)s, bantime="%(bantime)s", port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]

action_mw = %(banaction)s[name=%(__name__)s, bantime="%(bantime)s", port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
            %(mta)s-whois[name=%(__name__)s, sender="%(sender)s", dest="%(destemail)s", protocol="%(protocol)s", chain="%(chain)s"]

action_mwl = %(banaction)s[name=%(__name__)s, bantime="%(bantime)s", port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
             %(mta)s-whois-lines[name=%(__name__)s, sender="%(sender)s", dest="%(destemail)s", logpath=%(logpath)s, chain="%(chain)s"]

action_xarf = %(banaction)s[name=%(__name__)s, bantime="%(bantime)s", port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
             xarf-login-attack[service=%(__name__)s, sender="%(sender)s", logpath=%(logpath)s, port="%(port)s"]

action_cf_mwl = cloudflare[cfuser="%(cfemail)s", cftoken="%(cfapikey)s"]
                %(mta)s-whois-lines[name=%(__name__)s, sender="%(sender)s", dest="%(destemail)s", logpath=%(logpath)s, chain="%(chain)s"]

action_blocklist_de  = blocklist_de[email="%(sender)s", service=%(filter)s, apikey="%(blocklist_de_apikey)s", agent="%(fail2ban_agent)s"]

action_badips = badips.py[category="%(__name__)s", banaction="%(banaction)s", agent="%(fail2ban_agent)s"]

action_badips_report = badips[category="%(__name__)s", agent="%(fail2ban_agent)s"]

action = %(action_)s

[sshd]
enabled = {{ jail_sshd }}
port    = ssh
logpath = %(sshd_log)s
{% if fail2ban_version.stdout >= '9.4'-%}backend = %(sshd_backend)s{% endif %}

[sshd-ddos]
enabled = {{ jail_sshd_ddos }}
port    = ssh
logpath = %(sshd_log)s
{% if fail2ban_version.stdout >= '9.4'-%}backend = %(sshd_backend)s{% endif %}


[dropbear]
enabled  = {{ jail_dropbear }}
port     = ssh
logpath  = %(dropbear_log)s
{% if fail2ban_version.stdout >= '9.4'-%}backend  = %(dropbear_backend)s{% endif %}

[selinux-ssh]
enabled  = {{ jail_selinux_ssh }}
port     = ssh
logpath  = %(auditd_log)s

[apache-auth]
enabled  = {{ jail_apache_auth }}
port     = http,https
logpath  = %(apache_error_log)s


[apache-badbots]
enabled  = {{ jail_apache_badbots }}
port     = http,https
logpath  = %(apache_access_log)s
bantime  = 172800
maxretry = 1


[apache-noscript]
enabled  = {{ jail_apache_noscript }}
port     = http,https
logpath  = %(apache_error_log)s


[apache-overflows]
enabled  = {{ jail_apache_overflow }}
port     = http,https
logpath  = %(apache_error_log)s
maxretry = 2


[apache-nohome]
enabled  = {{ jail_apache_nohome }}
port     = http,https
logpath  = %(apache_error_log)s
maxretry = 2


[apache-botsearch]
enabled  = {{ jail_apache_botsearch }}
port     = http,https
logpath  = %(apache_error_log)s
maxretry = 2


[apache-fakegooglebot]
enabled  = {{ jail_apache_fakegoolebot }}
port     = http,https
logpath  = %(apache_access_log)s
maxretry = 1
ignorecommand = %(ignorecommands_dir)s/apache-fakegooglebot <ip>


[apache-modsecurity]
enabled  = {{ jail_apache_modsecurity }}
port     = http,https
logpath  = %(apache_error_log)s
maxretry = 2


[apache-shellshock]
enabled = {{ jail_apache_shellshock }}
port    = http,https
logpath = %(apache_error_log)s
maxretry = 1


[openhab-auth]
enabled = {{ jail_openhab_auth }}
filter  = openhab
action  = iptables-allports[name=NoAuthFailures]
logpath = /opt/openhab/logs/request.log

[nginx-http-auth]
enabled = {{ jail_nginx }}
port    = http,https
logpath = %(nginx_error_log)s

[nginx-limit-req]
enabled = {{ jail_nginx }}
port    = http,https
logpath = %(nginx_error_log)s

[nginx-botsearch]
enabled  = {{ jail_nginx }}
port     = http,https
logpath  = %(nginx_error_log)s
maxretry = 2

[php-url-fopen]
enabled = {{ jail_php_url }}
port    = http,https
logpath = %(nginx_access_log)s
          %(apache_access_log)s

[suhosin]
enabled  = {{ jail_suhosin }}
port    = http,https
logpath = %(suhosin_log)s


[lighttpd-auth]
enabled  = {{ jail_lighttpd }}
port    = http,https
logpath = %(lighttpd_error_log)s

[roundcube-auth]
enabled  = {{ jail_roundcube }}
port     = http,https
logpath  = %(roundcube_errors_log)s


[openwebmail]
enabled  = {{ jail_openwebmail }}
port     = http,https
logpath  = /var/log/openwebmail.log

[horde]
enabled  = {{ jail_horde }}
port     = http,https
logpath  = /var/log/horde/horde.log

[groupoffice]
enabled  = {{ jail_groupoffice }}
port     = http,https
logpath  = /home/groupoffice/log/info.log


[sogo-auth]
enabled  = {{ jail_sogo }}
port     = http,https
logpath  = /var/log/sogo/sogo.log


[tine20]
enabled  = {{ jail_tine20 }}
logpath  = /var/log/tine20/tine20.log
port     = http,https

[drupal-auth]
enabled  = {{ jail_drupal }}
port     = http,https
logpath  = %(syslog_daemon)s
{% if fail2ban_version.stdout >= '9.4'-%}backend = %(syslog_backend)s{% endif %}

[guacamole]
enabled  = {{ jail_guacamole }}
port     = http,https
logpath  = /var/log/tomcat*/catalina.out

[monit]
enabled  =
port = 2812
logpath  = /var/log/monit


[webmin-auth]
enabled = {{ jail_webmin }}
port    = 10000
logpath = %(syslog_authpriv)s
{% if fail2ban_version.stdout >= '9.4'-%}backend = %(syslog_backend)s{% endif %}

[froxlor-auth]
enabled = {{ jail_froxlor }}
port    = http,https
logpath = %(syslog_authpriv)s
{% if fail2ban_version.stdout >= '9.4'-%}backend = %(syslog_backend)s{% endif %}

[squid]
enabled = {{ jail_squid }}
port    =  80,443,3128,8080
logpath = /var/log/squid/access.log

[3proxy]
enabled = {{ jail_3proxy }}
port    = 3128
logpath = /var/log/3proxy.log

[proftpd]
enabled  = {{ jail_proftpd }}
port     = ftp,ftp-data,ftps,ftps-data
logpath  = %(proftpd_log)s
{% if fail2ban_version.stdout >= '9.4'-%}backend  = %(proftpd_backend)s{% endif %}

[pure-ftpd]
enabled  = {{ jail_pureftpd }}
port     = ftp,ftp-data,ftps,ftps-data
logpath  = %(pureftpd_log)s
{% if fail2ban_version.stdout >= '9.4'-%}backend  = %(pureftpd_backend)s{% endif %}

[gssftpd]
enabled  = {{ jail_gssftpd }}
port     = ftp,ftp-data,ftps,ftps-data
logpath  = %(syslog_daemon)s
{% if fail2ban_version.stdout >= '9.4'-%}backend  = %(syslog_backend)s{% endif %}

[wuftpd]
enabled  = {{ jail_wuftpd }}
port     = ftp,ftp-data,ftps,ftps-data
logpath  = %(wuftpd_log)s
{% if fail2ban_version.stdout >= '9.4'-%}backend  = %(wuftpd_backend)s{% endif %}

[vsftpd]
enabled  = {{ jail_vsftpd }}
port     = ftp,ftp-data,ftps,ftps-data
logpath  = %(vsftpd_log)s

[assp]
enabled  = {{ jail_assp }}
port     = smtp,465,submission
logpath  = /root/path/to/assp/logs/maillog.txt

[courier-smtp]
enabled  = {{ jail_smtp }}
port     = smtp,465,submission
logpath  = %(syslog_mail)s
{% if fail2ban_version.stdout >= '9.4'-%}backend  = %(syslog_backend)s{% endif %}

[postfix]
enabled  = {{ jail_postfix }}
port     = smtp,465,submission
logpath  = %(postfix_log)s
{% if fail2ban_version.stdout >= '9.4'-%}backend  = %(postfix_backend)s{% endif %}

[postfix-rbl]
enabled  = {{ jail_postfix }}
port     = smtp,465,submission
logpath  = %(postfix_log)s
{% if fail2ban_version.stdout >= '9.4'-%}backend  = %(postfix_backend)s{% endif %}
maxretry = 1

[sendmail-auth]
enabled = {{ jail_sendmail }}
port    = submission,465,smtp
logpath = %(syslog_mail)s
{% if fail2ban_version.stdout >= '9.4'-%}backend = %(syslog_backend)s{% endif %}

[sendmail-reject]
enabled  = {{ jail_sendmail }}
port     = smtp,465,submission
logpath  = %(syslog_mail)s
{% if fail2ban_version.stdout >= '9.4'-%}backend = %(syslog_backend)s{% endif %}

[qmail-rbl]
enabled = {{ jail_qmail }}
filter  = qmail
port    = smtp,465,submission
logpath = /service/qmail/log/main/current

[dovecot]
enabled = {{ jail_dovecot }}
port    = pop3,pop3s,imap,imaps,submission,465,sieve
logpath = %(dovecot_log)s
{% if fail2ban_version.stdout >= '9.4'-%}backend = %(dovecot_backend)s{% endif %}

[sieve]
enabled = {{ jail_sieve }}
port    = smtp,465,submission
logpath = %(dovecot_log)s
{% if fail2ban_version.stdout >= '9.4'-%}backend = %(dovecot_backend)s{% endif %}

[solid-pop3d]
enabled =  {{ jail_pop3d }}
port    = pop3,pop3s
logpath = %(solidpop3d_log)s


[exim]
enabled = {{ jail_exim }}
port    = smtp,465,submission
logpath = %(exim_main_log)s


[exim-spam]
enabled = {{ jail_exim }}
port    = smtp,465,submission
logpath = %(exim_main_log)s


[kerio]
enabled = {{ jail_kerio }}
port    = imap,smtp,imaps,465
logpath = /opt/kerio/mailserver/store/logs/security.log

[courier-auth]
enabled  = {{ jail_smtp }}
port     = smtp,465,submission,imap3,imaps,pop3,pop3s
logpath  = %(syslog_mail)s
{% if fail2ban_version.stdout >= '9.4'-%}backend  = %(syslog_backend)s{% endif %}

[postfix-sasl]
enabled  = {{ jail_postfix }}
port     = smtp,465,submission,imap3,imaps,pop3,pop3s
logpath  = %(postfix_log)s
{% if fail2ban_version.stdout >= '9.4'-%}backend  = %(postfix_backend)s{% endif %}

[perdition]
enabled = {{ jail_perdition }}
port   = imap3,imaps,pop3,pop3s
logpath = %(syslog_mail)s
{% if fail2ban_version.stdout >= '9.4'-%}backend = %(syslog_backend)s{% endif %}

[squirrelmail]
enabled = {{ jail_squirrelmail }}
port = smtp,465,submission,imap2,imap3,imaps,pop3,pop3s,http,https,socks
logpath = /var/lib/squirrelmail/prefs/squirrelmail_access_log

[cyrus-imap]
enabled = {{ jail_cyrus }}
port   = imap3,imaps
logpath = %(syslog_mail)s
{% if fail2ban_version.stdout >= '9.4'-%}backend = %(syslog_backend)s{% endif %}

[uwimap-auth]
enabled = {{ jail_uwimap_auth }}
port   = imap3,imaps
logpath = %(syslog_mail)s
{% if fail2ban_version.stdout >= '9.4'-%}backend = %(syslog_backend)s{% endif %}

[named-refused]
enabled  = {{ jail_named }}
port     = domain,953
logpath  = /var/log/named/security.log


[nsd]
enabled  = {{ jail_nsd }}
port     = 53
action   = %(banaction)s[name=%(__name__)s-tcp, port="%(port)s", protocol="tcp", chain="%(chain)s", actname=%(banaction)s-tcp]
           %(banaction)s[name=%(__name__)s-udp, port="%(port)s", protocol="udp", chain="%(chain)s", actname=%(banaction)s-udp]
logpath = /var/log/nsd.log

[asterisk]
enabled  = {{ jail_asterisk }}
port     = 5060,5061
action   = %(banaction)s[name=%(__name__)s-tcp, port="%(port)s", protocol="tcp", chain="%(chain)s", actname=%(banaction)s-tcp]
           %(banaction)s[name=%(__name__)s-udp, port="%(port)s", protocol="udp", chain="%(chain)s", actname=%(banaction)s-udp]
           %(mta)s-whois[name=%(__name__)s, dest="%(destemail)s"]
logpath  = /var/log/asterisk/messages
maxretry = 10


[freeswitch]
enabled  = {{ jail_freeswitch }}
port     = 5060,5061
action   = %(banaction)s[name=%(__name__)s-tcp, port="%(port)s", protocol="tcp", chain="%(chain)s", actname=%(banaction)s-tcp]
           %(banaction)s[name=%(__name__)s-udp, port="%(port)s", protocol="udp", chain="%(chain)s", actname=%(banaction)s-udp]
           %(mta)s-whois[name=%(__name__)s, dest="%(destemail)s"]
logpath  = /var/log/freeswitch.log
maxretry = 10

[mysqld-auth]
enabled  = {{ jail_mysql }}
port     = 3306
logpath  = %(mysql_log)s
{% if fail2ban_version.stdout >= '9.4'-%}backend  = %(mysql_backend)s{% endif %}

[mongodb-auth]
enabled  = {{ jail_mongo_auth }}
port     = 27017
logpath  = /var/log/mongodb/mongodb.log

[recidive]
enabled = {{ jail_recidive }}
logpath  = /var/log/fail2ban.log
banaction = %(banaction_allports)s
bantime  = 604800  ; 1 week
findtime = 86400   ; 1 day

[pam-generic]
enabled   = {{ jail_pam_generic }}
banaction = %(banaction_allports)s
logpath  = %(syslog_authpriv)s
{% if fail2ban_version.stdout >= '9.4'-%}backend  = %(syslog_backend)s{% endif %}

[xinetd-fail]
enabled   = {{ jail_xinetd_fail }}
banaction = iptables-multiport-log
logpath   = %(syslog_daemon)s
{% if fail2ban_version.stdout >= '9.4'-%}backend  = %(syslog_backend)s{% endif %}
maxretry  = 2

[stunnel]
enabled = {{ jail_stunnel }}
logpath = /var/log/stunnel4/stunnel.log

[ejabberd-auth]
enabled = {{ jail_ejabberd_auth }}
port    = 5222
logpath = /var/log/ejabberd/ejabberd.log

[counter-strike]
enabled = {{ jail_counter_strike }}
logpath = /opt/cstrike/logs/L[0-9]*.log
tcpport = 27030,27031,27032,27033,27034,27035,27036,27037,27038,27039
udpport = 1200,27000,27001,27002,27003,27004,27005,27006,27007,27008,27009,27010,27011,27012,27013,27014,27015
action  = %(banaction)s[name=%(__name__)s-tcp, port="%(tcpport)s", protocol="tcp", chain="%(chain)s", actname=%(banaction)s-tcp]
           %(banaction)s[name=%(__name__)s-udp, port="%(udpport)s", protocol="udp", chain="%(chain)s", actname=%(banaction)s-udp]

[nagios]
enabled = {{ jail_nagios }}
logpath  = %(syslog_daemon)s     ; nrpe.cfg may define a different log_facility
{% if fail2ban_version.stdout >= '9.4'-%}backend  = %(syslog_backend)s{% endif %}
maxretry = 1

[oracleims]
enabled = {{ jail_oracleims }}
logpath = /opt/sun/comms/messaging64/log/mail.log_current
banaction = %(banaction_allports)s

[directadmin]
enabled = {{ jail_directadmin }}
logpath = /var/log/directadmin/login.log
port = 2222

[portsentry]
enabled  = {{ jail_portsentry }}
logpath  = /var/lib/portsentry/portsentry.history
maxretry = 1

[pass2allow-ftp]
enabled      = {{ jail_pass2allow_ftp }}
port         = ftp,ftp-data,ftps,ftps-data
knocking_url = /knocking/
filter       = apache-pass[knocking_url="%(knocking_url)s"]
logpath      = %(apache_access_log)s
blocktype    = RETURN
returntype   = DROP
bantime      = 3600
maxretry     = 1
findtime     = 1


[murmur]
enabled  = {{ jail_murmur }}
port     = 64738
action   = %(banaction)s[name=%(__name__)s-tcp, port="%(port)s", protocol=tcp, chain="%(chain)s", actname=%(banaction)s-tcp]
           %(banaction)s[name=%(__name__)s-udp, port="%(port)s", protocol=udp, chain="%(chain)s", actname=%(banaction)s-udp]
logpath  = /var/log/mumble-server/mumble-server.log

[screensharingd]
enabled  = {{ jail_screensharingd }}
logpath  = /var/log/system.log
logencoding = utf-8

[haproxy-http-auth]
enabled  = {{ jail_haproxy_auth }}
logpath  = /var/log/haproxy.log

[slapd]
enabled = {{ jail_slapd }}
port    = ldap,ldaps
filter  = slapd
logpath = /var/log/slapd.log

[domino-smtp]
enabled = {{ jail_domino_smtp }}
port    = smtp,ssmtp
filter  = domino-smtp
logpath = /home/domino01/data/IBM_TECHNICAL_SUPPORT/console.log
